<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
  <meta charset="utf-8" />
  <title>Color Admin | Page with Two Sidebar</title>
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
  <meta content="" name="description" />
  <meta content="" name="author" />
  
  <!-- ================== BEGIN BASE CSS STYLE ================== -->
  <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
  <!-- <link href="assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
  <link href="assets/css/animate.min.css" rel="stylesheet" />
  <link href="assets/css/style.min.css" rel="stylesheet" />
  <link href="assets/css/style-responsive.min.css" rel="stylesheet" />
  <link href="assets/css/theme/default.css" rel="stylesheet" id="theme" />
  <!-- ================== END BASE CSS STYLE ================== -->
  
  <!-- ================== BEGIN BASE JS ==================
  <script src="assets/plugins/pace/pace.min.js"></script>
   ================== END BASE JS ================== -->
</head>
<body>
  <!-- begin #page-loader -->
  <div id="page-loader" class="fade in"><span class="spinner"></span></div>
  <!-- end #page-loader -->
  
  <!-- begin #page-container -->
  <div id="page-container" class="fade page-header-fixed page-sidebar-fixed page-with-two-sidebar">
    <!-- begin #header -->
    <div id="header" class="header navbar navbar-default navbar-fixed-top">
      <!-- begin container-fluid -->
      <div class="container-fluid">
        <!-- begin mobile sidebar expand / collapse button -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle pull-left" data-click="sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <button type="button" class="navbar-toggle pull-right" data-click="right-sidebar-toggled">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand"><span class="navbar-logo"></span> Color Admin</a>
        </div>
        <!-- end mobile sidebar expand / collapse button -->
        
        <!-- begin header navigation right -->
        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form full-width">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Enter keyword" />
                <button type="submit" class="btn btn-search"><i class="fa fa-search"></i></button>
              </div>
            </form>
          </li>
          <li class="dropdown">
            <a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle f-s-14">
              <i class="fa fa-bell-o"></i>
              <span class="label">5</span>
            </a>
            <ul class="dropdown-menu media-list pull-right animated fadeInDown">
                            <li class="dropdown-header">Notifications (5)</li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-bug media-object bg-red"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Server Error Reports</h6>
                                        <div class="text-muted f-s-11">3 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><%= image_tag "user-1.jpg", class: "media-object" %></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">John Smith</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">25 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><%= image_tag "user-2.jpg", class: "media-object" %></div>
                                    <div class="media-body">
                                        <h6 class="media-heading">Olivia</h6>
                                        <p>Quisque pulvinar tellus sit amet sem scelerisque tincidunt.</p>
                                        <div class="text-muted f-s-11">35 minutes ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-plus media-object bg-green"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New User Registered</h6>
                                        <div class="text-muted f-s-11">1 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="media">
                                <a href="javascript:;">
                                    <div class="media-left"><i class="fa fa-envelope media-object bg-blue"></i></div>
                                    <div class="media-body">
                                        <h6 class="media-heading"> New Email From John</h6>
                                        <div class="text-muted f-s-11">2 hour ago</div>
                                    </div>
                                </a>
                            </li>
                            <li class="dropdown-footer text-center">
                                <a href="javascript:;">View more</a>
                            </li>
            </ul>
          </li>
          <li class="dropdown navbar-user">
            <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
              <%= image_tag "user-13.jpg" %> 
              <span class="hidden-xs">Adam Schwartz</span> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu animated fadeInLeft">
              <li class="arrow"></li>
              <li><a href="javascript:;">Edit Profile</a></li>
              <li><a href="javascript:;"><span class="badge badge-danger pull-right">2</span> Inbox</a></li>
              <li><a href="javascript:;">Calendar</a></li>
              <li><a href="javascript:;">Setting</a></li>
              <li class="divider"></li>
              <li><a href="javascript:;">Log Out</a></li>
            </ul>
          </li>
          <li class="divider hidden-xs"></li>
          <li class="hidden-xs">
              <a href="javascript:;" data-click="right-sidebar-toggled" class="f-s-14">
                  <i class="fa fa-th"></i>
              </a>
          </li>
        </ul>
        <!-- end header navigation right -->
      </div>
      <!-- end container-fluid -->
    </div>
    <!-- end #header -->
    
    <!-- begin #sidebar -->
    <div id="sidebar" class="sidebar">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav">
          <li class="nav-profile">
            <div class="image">
              <a href="javascript:;"><%= image_tag "user-13.jpg" %></a>
            </div>
            <div class="info">
              Sean Ngu
              <small>Front end developer</small>
            </div>
          </li>
        </ul>
        <!-- end sidebar user -->
        <!-- begin sidebar nav -->
        <ul class="nav">
          <li class="nav-header">Navigation</li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-laptop"></i>
                <span>Dashboard</span>
              </a>
            <ul class="sub-menu">
                <li><a href="index.html">Dashboard v1</a></li>
                <li><a href="index_v2.html">Dashboard v2</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
              <span class="badge pull-right">10</span>
              <i class="fa fa-inbox"></i> 
              <span>Email</span>
            </a>
            <ul class="sub-menu">
                <li><a href="email_inbox.html">Inbox v1</a></li>
                <li><a href="email_inbox_v2.html">Inbox v2</a></li>
                <li><a href="email_compose.html">Compose</a></li>
                <li><a href="email_detail.html">Detail</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-suitcase"></i>
                <span>UI Elements</span> 
            </a>
            <ul class="sub-menu">
              <li><a href="ui_general.html">General</a></li>
              <li><a href="ui_typography.html">Typography</a></li>
              <li><a href="ui_tabs_accordions.html">Tabs & Accordions</a></li>
              <li><a href="ui_unlimited_tabs.html">Unlimited Nav Tabs</a></li>
              <li><a href="ui_modal_notification.html">Modal & Notification</a></li>
              <li><a href="ui_widget_boxes.html">Widget Boxes</a></li>
              <li><a href="ui_media_object.html">Media Object</a></li>
              <li><a href="ui_buttons.html">Buttons</a></li>
              <li><a href="ui_icons.html">Icons</a></li>
              <li><a href="ui_simple_line_icons.html">Simple Line Icons</a></li>
              <li><a href="ui_ionicons.html">Ionicons</a></li>
              <li><a href="ui_tree.html">Tree View</a></li>
              <li><a href="ui_language_bar_icon.html">Language Bar & Icon</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-file-o"></i>
                <span>Form Stuff</span> 
            </a>
            <ul class="sub-menu">
              <li><a href="form_elements.html">Form Elements</a></li>
              <li><a href="form_plugins.html">Form Plugins</a></li>
              <li><a href="form_slider_switcher.html">Form Slider + Switcher</a></li>
              <li><a href="form_validation.html">Form Validation</a></li>
              <li><a href="form_wizards.html">Wizards</a></li>
              <li><a href="form_wizards_validation.html">Wizards + Validation</a></li>
              <li><a href="form_wysiwyg.html">WYSIWYG</a></li>
              <li><a href="form_editable.html">X-Editable</a></li>
              <li><a href="form_multiple_upload.html">Multiple File Upload</a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-th"></i>
                <span>Tables  <span class="label label-theme m-l-5">NEW</span></span>
            </a>
            <ul class="sub-menu">
              <li><a href="table_basic.html">Basic Tables</a></li>
              <li class="has-sub">
                  <a href="javascript:;"><b class="caret pull-right"></b> Managed Tables</a>
                  <ul class="sub-menu">
                      <li><a href="table_manage.html">Default</a></li>
                      <li><a href="table_manage_autofill.html">Autofill</a></li>
                      <li><a href="table_manage_buttons.html">Buttons</a></li>
                      <li><a href="table_manage_colreorder.html">ColReorder</a></li>
                      <li><a href="table_manage_fixed_columns.html">Fixed Column</a></li>
                      <li><a href="table_manage_fixed_header.html">Fixed Header</a></li>
                      <li><a href="table_manage_keytable.html">KeyTable</a></li>
                      <li><a href="table_manage_responsive.html">Responsive</a></li>
                      <li><a href="table_manage_rowreorder.html">RowReorder <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                      <li><a href="table_manage_scroller.html">Scroller</a></li>
                      <li><a href="table_manage_select.html">Select</a></li>
                      <li><a href="table_manage_combine.html">Extension Combination</a></li>
                  </ul>
              </li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
              <i class="fa fa-star"></i> 
              <span>Front End</span>
            </a>
            <ul class="sub-menu">
                <li><a href="../../frontend/one-page-parallax/template_content_html/index.html" target="_blank">One Page Parallax</a></li>
                <li><a href="../../frontend/blog/template_content_html/index.html" target="_blank">Blog</a></li>
                <li><a href="../../frontend/forum/template_content_html/index.html" target="_blank">Forum</a></li>
            </ul>
          </li>
          <li class="has-sub">
              <a href="javascript:;">
                <b class="caret pull-right"></b>
                  <i class="fa fa-envelope"></i>
                  <span>Email Template</span>
              </a>
            <ul class="sub-menu">
              <li><a href="email_system.html">System Template</a></li>
              <li><a href="email_newsletter.html">Newsletter Template</a></li>
            </ul>
          </li>
          <li class="has-sub">
              <a href="javascript:;">
                <b class="caret pull-right"></b>
                  <i class="fa fa-area-chart"></i>
                <span>Chart <span class="label label-theme m-l-5">NEW</span></span>
            </a>
            <ul class="sub-menu">
                <li><a href="chart-flot.html">Flot Chart</a></li>
                <li><a href="chart-morris.html">Morris Chart</a></li>
              <li><a href="chart-js.html">Chart JS</a></li>
                <li><a href="chart-d3.html">d3 Chart <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
            </ul>
          </li>
          <li><a href="calendar.html"><i class="fa fa-calendar"></i> <span>Calendar</span></a></li>
          <li class="has-sub">
              <a href="javascript:;">
                  <b class="caret pull-right"></b>
                  <i class="fa fa-map-marker"></i>
                  <span>Map</span>
              </a>
            <ul class="sub-menu">
              <li><a href="map_vector.html">Vector Map</a></li>
              <li><a href="map_google.html">Google Map</a></li>
            </ul>
          </li>
          <li class="has-sub">
              <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-camera"></i>
                <span>Gallery</span>
            </a>
              <ul class="sub-menu">
                  <li><a href="gallery.html">Gallery v1</a></li>
                  <li><a href="gallery_v2.html">Gallery v2</a></li>
              </ul>
          </li>
          <li class="has-sub active">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-cogs"></i>
                <span>Page Options <span class="label label-theme m-l-5">NEW</span></span>
            </a>
            <ul class="sub-menu">
              <li><a href="page_blank.html">Blank Page</a></li>
              <li><a href="page_with_footer.html">Page with Footer</a></li>
              <li><a href="page_without_sidebar.html">Page without Sidebar</a></li>
              <li><a href="page_with_right_sidebar.html">Page with Right Sidebar</a></li>
              <li><a href="page_with_minified_sidebar.html">Page with Minified Sidebar</a></li>
              <li class="active"><a href="page_with_two_sidebar.html">Page with Two Sidebar</a></li>
              <li><a href="page_with_line_icons.html">Page with Line Icons</a></li>
              <li><a href="page_with_ionicons.html">Page with Ionicons</a></li>
              <li><a href="page_full_height.html">Full Height Content</a></li>
              <li><a href="page_with_wide_sidebar.html">Page with Wide Sidebar</a></li>
              <li><a href="page_with_light_sidebar.html">Page with Light Sidebar</a></li>
              <li><a href="page_with_mega_menu.html">Page with Mega Menu</a></li>
                            <li><a href="page_with_top_menu.html">Page with Top Menu <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                            <li><a href="page_with_boxed_layout.html">Page with Boxed Layout <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                            <li><a href="page_with_mixed_menu.html">Page with Mixed Menu <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                            <li><a href="page_boxed_layout_with_mixed_menu.html">Boxed Layout with Mixed Menu <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
                            <li><a href="page_with_transparent_sidebar.html">Page with Transparent Sidebar <i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
            </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-gift"></i>
                <span>Extra</span>
            </a>
            <ul class="sub-menu">
                <li><a href="extra_timeline.html">Timeline</a></li>
                <li><a href="extra_coming_soon.html">Coming Soon Page</a></li>
              <li><a href="extra_search_results.html">Search Results</a></li>
              <li><a href="extra_invoice.html">Invoice</a></li>
              <li><a href="extra_404_error.html">404 Error Page</a></li>
              <li><a href="extra_profile.html">Profile Page</a></li>
            </ul>
          </li>
          <li class="has-sub">
              <a href="javascript:;">
                  <b class="caret pull-right"></b>
                  <i class="fa fa-key"></i>
                  <span>Login & Register</span>
              </a>
              <ul class="sub-menu">
              <li><a href="login.html">Login</a></li>
                  <li><a href="login_v2.html">Login v2</a></li>
                  <li><a href="login_v3.html">Login v3</a></li>
                  <li><a href="register_v3.html">Register v3</a></li>
              </ul>
          </li>
          <li class="has-sub">
              <a href="javascript:;">
                  <b class="caret pull-right"></b>
                  <i class="fa fa-cubes"></i>
                  <span>Version <span class="label label-theme m-l-5">NEW</span></span>
              </a>
              <ul class="sub-menu">
              <li><a href="javascript:;">HTML</a></li>
                  <li><a href="../template_content_ajax/index.html">AJAX</a></li>
                  <li><a href="../template_content_angularjs/index.html">ANGULAR JS<i class="fa fa-paper-plane text-theme m-l-5"></i></a></li>
              </ul>
          </li>
          <li class="has-sub">
              <a href="javascript:;">
                  <b class="caret pull-right"></b>
                  <i class="fa fa-medkit"></i>
                  <span>Helper</span>
              </a>
              <ul class="sub-menu">
              <li><a href="helper_css.html">Predefined CSS Classes</a></li>
              </ul>
          </li>
          <li class="has-sub">
            <a href="javascript:;">
                <b class="caret pull-right"></b>
                <i class="fa fa-align-left"></i> 
                <span>Menu Level</span>
            </a>
            <ul class="sub-menu">
              <li class="has-sub">
                <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        Menu 1.1
                    </a>
                <ul class="sub-menu">
                  <li class="has-sub">
                    <a href="javascript:;">
                        <b class="caret pull-right"></b>
                        Menu 2.1
                    </a>
                    <ul class="sub-menu">
                      <li><a href="javascript:;">Menu 3.1</a></li>
                      <li><a href="javascript:;">Menu 3.2</a></li>
                    </ul>
                  </li>
                  <li><a href="javascript:;">Menu 2.2</a></li>
                  <li><a href="javascript:;">Menu 2.3</a></li>
                </ul>
              </li>
              <li><a href="javascript:;">Menu 1.2</a></li>
              <li><a href="javascript:;">Menu 1.3</a></li>
            </ul>
          </li>
              <!-- begin sidebar minify button -->
          <li><a href="javascript:;" class="sidebar-minify-btn" data-click="sidebar-minify"><i class="fa fa-angle-double-left"></i></a></li>
              <!-- end sidebar minify button -->
        </ul>
        <!-- end sidebar nav -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->
    
    <!-- begin #sidebar-right -->
    <div id="sidebar-right" class="sidebar sidebar-right">
      <!-- begin sidebar scrollbar -->
      <div data-scrollbar="true" data-height="100%">
        <!-- begin sidebar user -->
        <ul class="nav m-t-10">
          <li class="nav-widget">
          <p>Server Status</p>
                <div class="pull-left m-b-10 m-t-5">
                            <div class="pull-left p-r-15">
                                <input class="knob" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="10" data-displayPrevious=true value="44" data-fgColor="#00acac" data-bgColor="#242a30" />
                            </div>
                            <div class="pull-left">
                                <input class="knob" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="10" data-displayPrevious=true value="67" data-fgColor="#348fe2" data-bgColor="#242a30" />
                            </div>
                        </div>
                <div class="pull-left">
                            <div class="pull-left p-r-15">
                                <input class="knob" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="10" data-displayPrevious=true value="70" data-fgColor="#ff5b57" data-bgColor="#242a30" />
                            </div>
                            <div class="pull-left">
                                <input class="knob" data-width="80" data-height="80" data-thickness=".2" data-readonly="true" data-min="10" data-displayPrevious=true value="52" data-fgColor="#727cb6" data-bgColor="#242a30" />
                            </div>
                        </div>
            </li>
            <li class="nav-widget">
                <p class="m-b-5">Total Visitors</p>
                <div id="sidebar-sparkline-1" class="m-b-10"></div>
                <p class="m-b-5">Total Page Views</p>
                <div id="sidebar-sparkline-2" class="m-b-10"></div>
                <p class="m-b-5">Total Unique Visitors</p>
                <div id="sidebar-sparkline-3" class="m-b-10"></div>
                <p class="m-b-5">Bounce Rate</p>
                <div id="sidebar-sparkline-4"></div>
            </li>
          <li class="nav-widget">
                        <div class="panel-group m-b-0" id="accordion">
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                            <i class="fa fa-plus-circle pull-right text-success"></i> 
                                            Accordion #1
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                            <i class="fa fa-plus-circle pull-right text-success"></i> 
                                            Accordion #2
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-inverse">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
                                            <i class="fa fa-plus-circle pull-right text-success"></i> 
                                            Accordion #3
                                        </a>
                                    </h3>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                                    </div>
                                </div>
                            </div>
                        </div>
          </li>
        </ul>
        <!-- end sidebar user -->
      </div>
      <!-- end sidebar scrollbar -->
    </div>
    <div class="sidebar-bg sidebar-right"></div>
    <!-- end #sidebar-right -->
    
    <!-- begin #content -->
    <div id="content" class="content content-full-width">
      <!-- begin breadcrumb -->
      <ol class="breadcrumb pull-right">
        <li><a href="javascript:;">Home</a></li>
        <li><a href="javascript:;">Map</a></li>
        <li class="active">Google Map</li>
      </ol>
      <!-- end breadcrumb -->
      <!-- begin page-header -->
      <h1 class="page-header">Google Map <small>header small text goes here...</small></h1>
      <!-- end page-header -->
      
            <div class="map-content">
                <div class="btn-group map-btn pull-right">
                    <button type="button" class="btn btn-sm btn-inverse" id="map-theme-text">Default Theme</button>
                    <button type="button" class="btn btn-sm btn-inverse dropdown-toggle" data-toggle="dropdown">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" id="map-theme-selection">
                        <li class="active"><a href="javascript:;" data-map-theme="default">Default</a></li>
                        <li><a href="javascript:;" data-map-theme="flat">Flat</a></li>
                        <li><a href="javascript:;" data-map-theme="turquoise-water">Turquoise Water</a></li>
                        <li><a href="javascript:;" data-map-theme="icy-blue">Icy Blue</a></li>
                        <li><a href="javascript:;" data-map-theme="cobalt">Cobalt</a></li>
                        <li><a href="javascript:;" data-map-theme="old-dry-mud">Old Dry Mud</a></li>
                        <li><a href="javascript:;" data-map-theme="dark-red">Dark Red</a></li>
                    </ul>
                </div>
            </div>
      <div class="map">
                <div id="google-map-default" class="height-full width-full"></div>
            </div>
    </div>
    <!-- end #content -->
    
        <!-- begin theme-panel -->
        <div class="theme-panel">
            <a href="javascript:;" data-click="theme-panel-expand" class="theme-collapse-btn"><i class="fa fa-cog"></i></a>
            <div class="theme-panel-content">
                <h5 class="m-t-0">Color Theme</h5>
                <ul class="theme-list clearfix">
                    <li class="active"><a href="javascript:;" class="bg-green" data-theme="default" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Default">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-red" data-theme="red" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Red">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-blue" data-theme="blue" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Blue">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-purple" data-theme="purple" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Purple">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-orange" data-theme="orange" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Orange">&nbsp;</a></li>
                    <li><a href="javascript:;" class="bg-black" data-theme="black" data-click="theme-selector" data-toggle="tooltip" data-trigger="hover" data-container="body" data-title="Black">&nbsp;</a></li>
                </ul>
                <div class="divider"></div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Header Styling</div>
                    <div class="col-md-7">
                        <select name="header-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">inverse</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Header</div>
                    <div class="col-md-7">
                        <select name="header-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Styling</div>
                    <div class="col-md-7">
                        <select name="sidebar-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">grid</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label">Sidebar</div>
                    <div class="col-md-7">
                        <select name="sidebar-fixed" class="form-control input-sm">
                            <option value="1">fixed</option>
                            <option value="2">default</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Sidebar Gradient</div>
                    <div class="col-md-7">
                        <select name="content-gradient" class="form-control input-sm">
                            <option value="1">disabled</option>
                            <option value="2">enabled</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-5 control-label double-line">Content Styling</div>
                    <div class="col-md-7">
                        <select name="content-styling" class="form-control input-sm">
                            <option value="1">default</option>
                            <option value="2">black</option>
                        </select>
                    </div>
                </div>
                <div class="row m-t-10">
                    <div class="col-md-12">
                        <a href="#" class="btn btn-inverse btn-block btn-sm" data-click="reset-local-storage"><i class="fa fa-refresh m-r-3"></i> Reset Local Storage</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- end theme-panel -->
    
    <!-- begin scroll to top btn -->
    <a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
    <!-- end scroll to top btn -->
  </div>
  <!-- end page container -->
  
  <!-- ================== BEGIN BASE JS ================== 
  <script src="assets/plugins/jquery/jquery-1.9.1.min.js"></script>
  <script src="assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
  <script src="assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js"></script>
  <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
  <!-[if lt IE 9]>
    <script src="assets/crossbrowserjs/html5shiv.js"></script>
    <script src="assets/crossbrowserjs/respond.min.js"></script>
    <script src="assets/crossbrowserjs/excanvas.min.js"></script>
  <![endif]->
  <script src="assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
  <script src="assets/plugins/jquery-cookie/jquery.cookie.js"></script>
  ================== END BASE JS ================== -->
  
  <!-- ================== BEGIN PAGE LEVEL JS ================== -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false"></script>
  <!-- ================== END PAGE LEVEL JS ================== -->
  
  <script>
    $(document).ready(function() {
      App.init();
      PageWithTwoSidebar.init();
      MapGoogle.init();
    });
  </script>
</body>
</html>
